@use "../mixins" as *;
@use "../variables" as *;

.form-input-color {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border: none;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.form-input-color-value {
    align-self: center;
    margin-left: 0.5rem;
    font-size: var(--font-size-sm);
}

.form-input-color::-webkit-color-swatch-wrapper {
    padding: 0;
}

.form-input-color::-webkit-color-swatch {
    border: none;
}

.form-input-color::-moz-color-swatch {
    border: none;
}
