@use "../mixins" as *;
@use "../variables" as *;
@use "../colors" as *;

/* stylelint-disable selector-class-pattern */

.editor-toolbar {
    position: relative;
    display: flex;
    padding: 0.125rem 0.25rem;
    border: 1px solid var(--color-base-500);
    background-color: var(--color-base-800);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    gap: 0 3rem;
}

.toolbar-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border: 1px solid transparent;
    margin: 0.125rem 0;

    &:hover,
    &:focus {
        background-color: var(--color-base-600);
        color: var(--color-accent-500);
    }

    &:focus {
        @include focusring;
    }

    & .icon {
        margin-right: 0;
    }

    &.caret {
        display: flex;
        align-items: center;
    }

    &.caret::after {
        display: block;
        margin-left: auto;
    }
}

.toolbar-button.is-active,
.dropdown-item.is-active {
    background-color: var(--color-base-600);
}

.toolbar-button.is-active {
    color: var(--color-accent-500);

    &:disabled {
        color: var(--color-base-500);
    }
}

.form-textarea.editor-textarea {
    padding: 1rem;
    margin-bottom: 0;

    &:focus {
        outline: none;
    }
}

.ProseMirror,
.cm-editor {
    min-height: 6rem;
    max-height: 48rem;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    font-family: var(--font-family-sans);
    font-size: var(--font-size-md);
}

.cm-content .cm-line {
    padding: 0;
}

.ProseMirror {
    overflow: auto;
    padding: 1rem;
    background-color: var(--color-base-900);
    color: var(--color-base-100);
    outline: none;
    resize: vertical;

    &:focus {
        outline: none;
    }

    & .pm-placeholder {
        color: var(--color-base-300);
        font-size: var(--font-size-sm);
        pointer-events: none;
    }
}

.editor-textarea:disabled {
    & + [contenteditable="false"] {
        background-color: var(--color-base-700);
        color: var(--color-base-300);

        & > * {
            opacity: 0.6;
        }
    }
}

/* stylelint-disable */
.ProseMirror {
    position: relative;
}

.ProseMirror {
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: break-spaces;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0;
}

.ProseMirror pre {
    white-space: pre-wrap;
}

.ProseMirror li {
    position: relative;
}

.ProseMirror-hideselection *::selection {
    background: transparent;
}
.ProseMirror-hideselection *::-moz-selection {
    background: transparent;
}
.ProseMirror-hideselection {
    caret-color: transparent;
}

.ProseMirror [draggable][contenteditable="false"] {
    user-select: text;
}

li.ProseMirror-selectednode {
    outline: none;
}

li.ProseMirror-selectednode:after {
    content: "";
    position: absolute;
    left: -32px;
    right: -2px;
    top: -2px;
    bottom: -2px;
    border: 2px solid var(--color-focusring);
    pointer-events: none;
}

img.ProseMirror-separator {
    display: inline !important;
    border: none !important;
    margin: 0 !important;
}
/* stylelint-enable */

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror a,
.ProseMirror a:hover {
    color: var(--color-accent-500);
    text-decoration: underline;
}

.cm-editor {
    overflow: auto;
    resize: vertical;
}

.cm-editor.cm-focused {
    outline: none;
}

.editor-toolbar + .editor-textarea,
.editor-toolbar + .ProseMirror,
.editor-toolbar + .cm-editor,
.editor-textarea + .ProseMirror,
.editor-textarea + .cm-editor {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button {
    font-size: 0.875rem;
}

.editor-toolbar > div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.editor-toolbar .separator {
    height: 1.25rem;
    align-self: center;
    border-left: 1px solid var(--color-base-500);
}

.editor-toolbar .dropdown-item.is-active {
    color: var(--color-accent-500);
}

.editor-toolbar .dropdown {
    margin-bottom: 0;
}

.editor-toolbar .dropdown-button {
    width: auto;
    min-width: 8rem;
    border-color: var(--color-base-500);
    background-color: var(--color-base-900);
    text-align: left;

    &:focus {
        border-color: var(--color-accent-500);
    }
}

.editor-toggle-markdown {
    margin-left: auto;
}

.text {
    display: none;
}

.ProseMirror-selectednode {
    outline: 2px solid var(--color-focusring) !important;
}

.editor-wrap {
    border-radius: var(--border-radius);
    margin-bottom: 0.75rem;
}

.editor-wrap:focus-within {
    @include focusring;
}

.editor-wrap:focus-within .editor-toolbar,
.editor-wrap.focused .editor-toolbar,
.editor-wrap.focused .ProseMirror,
.editor-wrap.focused .cm-editor {
    border-color: var(--color-accent-500);
}

.editor-wrap .dropdown-menu {
    margin-top: 0;
}
