@use "../mixins" as *;
@use "../variables" as *;

.form-input-tags-wrap {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0.25rem 0.5rem * 0.5;
    padding-bottom: 0;
    border: 1px solid var(--color-base-500);
    border-radius: var(--border-radius);
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: var(--font-size-sm);
    line-height: var(--line-height-text);
    @include user-select-none;
}

.form-input-wrap > .form-input-tags-wrap {
    margin-bottom: 0;
}

.form-input-tags-wrap:has(.is-invalid) {
    border-color: var(--color-danger-500);
}

.form-input-wrap .form-input-icon + .form-input-tags-wrap {
    padding-left: 1.75rem;
}

.form-input-tags-wrap.focused {
    border-color: var(--color-accent-500);
}

.form-input-tags-wrap.focused:has(.is-invalid) {
    border-color: var(--color-danger-500);

    @include focusring($color-focusring-danger);
}

.form-input-tags-wrap .form-input {
    display: inline-block;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 0.5rem * 0.5;
    border: 0;
    border-radius: 0;
    margin-bottom: 0.25rem;
    font-family: inherit;
    font-size: var(--font-size-sm);
    line-height: inherit;

    &:focus {
        outline: none;
    }
}

.form-input-tags-wrap .tag {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 0.375rem;
    border-radius: var(--border-radius);
    margin-bottom: 0.25rem;
    background-color: var(--color-base-700);
    font-size: var(--font-size-sm);
    @include user-select-none;

    &.sortable-chosen:not(.sortable-drag) {
        background-color: var(--color-accent-900);
    }
}

.form-input-tags-wrap.disabled,
.form-input-tags-wrap.disabled .form-input {
    background-color: var(--color-base-800);
}

.form-input-tags-wrap.disabled .tag {
    background-color: var(--color-base-600);
}

.tag-remove {
    display: inline-block;
    padding: 0 0.125rem;
    margin-left: 0.25rem;
    color: var(--color-base-100);
    font-style: normal;
    transition: color var(--transition-time-sm);

    &:hover {
        color: var(--color-accent-500);
    }
}

.tag-remove::after {
    content: "\00d7";
    font-weight: 600;
}

.form-input-tags-wrap.is-dragging,
.form-input-tags-wrap.is-dragging * {
    cursor: grabbing !important;
}
