@use "../mixins" as *;

.form-input-array {
    padding: 0;
    border: 0;
    margin: 0 0 0.5rem;
    @include user-select-none;
}

.form-input-array .sortable-handle .icon {
    vertical-align: middle;
}

.form-input-array-row {
    display: flex;
    align-items: flex-start;
    padding: 0.25rem 0.5rem;
    margin: 0 (-0.5rem);
    gap: 0.25rem;
}

.form-input-array-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.25rem;
}

.form-input-array-key {
    max-width: 30%;
    margin-bottom: 0;
}

.form-input-array-value {
    flex: 1;

    & :last-child {
        margin-bottom: 0;
    }
}

.form-input-array-item-type-markdown,
.form-input-array-item-type-textarea {
    flex-direction: column;
    align-items: stretch;

    & .form-input-array-key {
        max-width: none;
    }
}

.form-input-array-add,
.form-input-array-remove {
    padding: 0;
    margin-top: 0.25rem;
}

.form-input-array .sortable-chosen:not(.sortable-drag) {
    background-color: var(--color-accent-900);
}
