@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translate3d(150%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade-out-right {
    from {
        opacity: 1;
        transform: none;
    }

    to {
        opacity: 0;
        transform: translate3d(150%, 0, 0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    10%,
    50%,
    90% {
        transform: translate3d(-4px, 0, 0);
    }

    30%,
    70% {
        transform: translate3d(16px, 0, 0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes shimmer {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0 0;
    }
}

%animation-shimmer {
    animation: shimmer 2s infinite linear;
    background: linear-gradient(90deg, var(--color-base-900) 30%, var(--color-base-700) 50%, var(--color-base-900) 70%);
    background-size: 400%;
}
