@use "mixins" as *;

.button {
    display: inline-block;
    padding: 0.375rem 0.5rem;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    background-color: transparent;
    color: inherit;
    cursor: default;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-sm);
    font-weight: 500;
    line-height: 1.15;
    outline: none;
    text-align: center;
    transition:
        border-color var(--transition-time-sm),
        background-color var(--transition-time-sm),
        box-shadow var(--transition-time-sm),
        color var(--transition-time-sm);
    white-space: nowrap;
    @include user-select-none;

    &:hover {
        color: var(--color-accent-500);
    }

    &:focus {
        @include focusring;
    }

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        box-shadow: 0 2px 0 var(--color-base-600);
        color: var(--color-base-500);
        pointer-events: none;
    }

    & .icon {
        display: inline-block;
        margin-right: 0.25rem;
        vertical-align: text-top;
    }
}

.button-right {
    margin-right: 0;
    margin-left: 0.25rem;
    float: right;
}

.button-accent {
    border: 1px solid var(--color-accent-500);
    background-color: var(--color-accent-500);
    box-shadow: 0 2px 0 var(--color-base-500);
    color: var(--color-white);

    &:hover,
    &:focus,
    &.active {
        border-color: var(--color-accent-400);
        background-color: var(--color-accent-400);
        box-shadow: 0 2px 0 var(--color-base-400);
        color: var(--color-white);
    }
}

.button-secondary {
    border: 1px solid var(--color-base-600);
    background-color: var(--color-base-600);
    box-shadow: 0 2px 0 var(--color-base-500);
    color: var(--color-base-100);

    &:hover,
    &:focus,
    &.active {
        border-color: var(--color-base-500);
        background-color: var(--color-base-500);
        box-shadow: 0 2px 0 var(--color-base-400);
        color: var(--color-base-100);
    }

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        border-color: var(--color-base-800);
        background-color: var(--color-base-800);
    }
}

.button-success {
    border: 2px solid var(--color-success-500);
    background-color: var(--color-success-500);
    box-shadow: 0 1px 0 var(--color-shadow-lg);
    color: var(--color-white);

    &:hover,
    &:focus,
    &.active {
        border-color: var(--color-success-400);
        background-color: var(--color-success-400);
        box-shadow: 0 2px 0 var(--color-base-400);
        color: var(--color-white);
    }
}

.button-warning {
    border: 1px solid var(--color-warning-500);
    background-color: var(--color-warning-500);
    box-shadow: 0 2px 0 var(--color-base-500);
    color: var(--color-white);

    &:hover,
    &:focus,
    &.active {
        border-color: var(--color-warning-400);
        background-color: var(--color-warning-400);
        box-shadow: 0 2px 0 var(--color-base-400);
        color: var(--color-white);
    }
}

.button-danger {
    border: 1px solid var(--color-danger-500);
    background-color: var(--color-danger-500);
    box-shadow: 0 2px 0 var(--color-base-500);
    color: var(--color-white);

    &:hover,
    &:focus,
    &.active {
        border-color: var(--color-danger-400);
        background-color: var(--color-danger-400);
        box-shadow: 0 2px 0 var(--color-base-400);
        color: var(--color-white);
    }
}

.button-link {
    & .icon {
        margin-right: 0;
        vertical-align: -0.125rem;
    }

    &[disabled],
    &[disabled]:hover,
    &.disabled,
    &.disabled:hover {
        box-shadow: none;
    }
}

.button-group {
    display: inline-flex;
}

.button-group .button:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.button-group .button:not(:last-child) {
    border-right-width: var(--focusring-width);
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    &:focus {
        border-right-width: 0;
        margin-right: var(--focusring-width);
    }
}

.button-indicator {
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--color-accent-500);
        content: " ";
    }
}
