@use "mixins" as *;

.plugins-list {
    border-top: 1px solid var(--color-base-600);
    @include user-select-none;
}

.plugins-list-headers {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    font-size: var(--font-size-sm);
    font-weight: 600;
    @include user-select-none;
}

.plugins-item {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    border-bottom: 1px solid var(--color-base-600);
    font-size: var(--font-size-sm);

    &:hover {
        background-color: var(--color-base-800);
    }
}

.plugins-item-cell,
.plugins-headers-cell {
    padding: 0.25rem 0.5rem;
}

.plugin-title {
    flex: 1;
}

.plugin-description {
    flex: 2;
}

.plugin-status {
    flex: 1;
    text-align: right;
    white-space: nowrap;
}

.plugin-status .form-togglegroup {
    margin-bottom: 0;
}
