.spinner {
    position: relative;
    display: inline-block;
    width: 1.375rem;
    height: 1.375rem;
    margin-right: 0.75rem;
    text-align: center;
    vertical-align: -0.375rem;

    &::before {
        position: absolute;
        border-width: 0.125rem;
        border-style: solid;
        border-color: var(--color-base-600);
        border-radius: 50%;
        border-top-color: var(--color-accent-500);
        border-right-color: var(--color-accent-500);
        animation: 1s spin infinite linear;
        content: "";
        inset: -0.0625rem;
        transition: border var(--transition-time-md);
    }
}

.spinner .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner-info {
    color: var(--color-accent-500);

    &::before {
        border-color: var(--color-accent-500);
        animation: none;
    }
}

.spinner-success {
    color: var(--color-success-500);

    &::before {
        border-color: var(--color-success-500);
        animation: none;
    }
}

.spinner-danger {
    color: var(--color-danger-500);

    &::before {
        border-color: var(--color-danger-500);
        animation: none;
    }
}
