@use "mixins" as *;
@use "variables" as *;

@use "sass:map";

.tabs {
    padding: var(--focusring-width) var(--focusring-width) 0;
    border-bottom: 1px solid var(--color-base-600);
    margin-bottom: 1rem;
    overflow-x: auto;
    white-space: nowrap;
    @include user-select-none;
}

.tabs-tab {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border: 0;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin: var(--focusring-width) var(--focusring-width) 0;
    color: var(--color-base-100);
    cursor: pointer;
    font: inherit;
    line-height: inherit;

    &:hover {
        color: var(--color-base-100);
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        @include focusring;
    }
}

.tabs-tab.active {
    border-bottom: 3px solid var(--color-accent-500);
    font-weight: 600;
}

.tabs-panel {
    display: none;
}

.tabs-panel.visible {
    display: block;
}

.caption + .tabs {
    margin-top: -0.5rem;
}

.header + .tabs {
    margin-top: -0.5rem;
}

@media (min-width: map.get($breakpoints, "md")) {
    .header + .tabs {
        margin-top: -1.5rem;
    }
}
