:root {
    --font-family-sans: system-ui, sans-serif;
    --font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", menlo, consolas, "DejaVu Sans Mono", monospace;
    --border-radius: 0.375rem;
    --color-white: #fff;
    --color-black: #000;
    --color-gray-100: #22272a;
    --color-gray-200: #49525a;
    --color-gray-300: #707e89;
    --color-gray-400: #8c97a1;
    --color-gray-500: #c4cacf;
    --color-gray-600: #e0e3e6;
    --color-gray-700: #ebedef;
    --color-gray-800: #f7f7f8;
    --color-gray-900: #fcfcfd;
    --color-blue-100: rgb(5.8 26.8 45);
    --color-blue-200: rgb(11.6 53.6 90);
    --color-blue-300: rgb(17.4 80.4 135);
    --color-blue-400: rgb(23.2 107.2 180);
    --color-blue-500: #1d86e1;
    --color-blue-600: rgb(74.2 158.2 231);
    --color-blue-700: rgb(119.4 182.4 237);
    --color-blue-800: rgb(164.6 206.6 243);
    --color-blue-900: rgb(209.8 230.8 249);
    --color-green-100: rgb(9.2 40.8 22.4);
    --color-green-200: rgb(18.4 81.6 44.8);
    --color-green-300: rgb(27.6 122.4 67.2);
    --color-green-400: rgb(36.8 163.2 89.6);
    --color-green-500: #2ecc70;
    --color-green-600: rgb(87.8 214.2 140.6);
    --color-green-700: rgb(129.6 224.4 169.2);
    --color-green-800: rgb(171.4 234.6 197.8);
    --color-green-900: rgb(213.2 244.8 226.4);
    --color-yellow-100: #332b00;
    --color-yellow-200: #665600;
    --color-yellow-300: #998100;
    --color-yellow-400: #ccac00;
    --color-yellow-500: #ffd700;
    --color-yellow-600: #ffdf33;
    --color-yellow-700: #ffe766;
    --color-yellow-800: #ffef99;
    --color-yellow-900: #fff7cc;
    --color-amber-100: rgb(48.6 31.2 3.4);
    --color-amber-200: rgb(97.2 62.4 6.8);
    --color-amber-300: #945f0a;
    --color-amber-400: rgb(194.4 124.8 13.6);
    --color-amber-500: #f39c11;
    --color-amber-600: rgb(245.4 175.8 64.6);
    --color-amber-700: rgb(247.8 195.6 112.2);
    --color-amber-800: rgb(250.2 215.4 159.8);
    --color-amber-900: rgb(252.6 235.2 207.4);
    --color-red-100: rgb(46.2 15.2 11.8);
    --color-red-200: rgb(92.4 30.4 23.6);
    --color-red-300: rgb(138.6 45.6 35.4);
    --color-red-400: rgb(184.8 60.8 47.2);
    --color-red-500: #e74c3b;
    --color-red-600: rgb(235.8 111.8 98.2);
    --color-red-700: rgb(240.6 147.6 137.4);
    --color-red-800: rgb(245.4 183.4 176.6);
    --color-red-900: rgb(250.2 219.2 215.8);
    --color-purple-100: rgb(22.2 13.2 38.6);
    --color-purple-200: rgb(44.4 26.4 77.2);
    --color-purple-300: rgb(66.6 39.6 115.8);
    --color-purple-400: rgb(88.8 52.8 154.4);
    --color-purple-500: #6f42c1;
    --color-purple-600: rgb(139.8 103.8 205.4);
    --color-purple-700: rgb(168.6 141.6 217.8);
    --color-purple-800: rgb(197.4 179.4 230.2);
    --color-purple-900: rgb(226.2 217.2 242.6);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: var(--color-gray-800);
    color: var(--color-gray-100);
    font-family: var(--font-family-sans);
    font-size: 1rem;
    line-height: 1.5;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--color-gray-100);
    font-weight: 800;
    line-height: 1.15;
    scroll-margin-top: 1rem;
}

h1,
.h1 {
    font-size: 3.052rem;
}

h2,
.h2 {
    font-size: 2.441rem;
}

h3,
.h3 {
    font-size: 1.953rem;
}

h4,
.h4 {
    font-size: 1.563rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

a {
    color: var(--color-blue-500);
    outline: none;
    text-decoration: none;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
    color: var(--color-gray-100);
}

a:hover {
    color: var(--color-blue-300);
    text-decoration: underline;
    text-decoration-color: var(--color-gray-500);
    text-decoration-thickness: 2px;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    border: 1px solid var(--color-gray-600);
}

p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}

blockquote {
    margin: 1rem 2rem;
}

ol,
ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 1.25rem;
    list-style-position: outside;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

ul li::marker {
    color: var(--color-blue-400);
}

ol li::marker {
    color: var(--color-blue-400);
    font-weight: 600;
}

code,
pre {
    border-radius: var(--border-radius);
    background-color: var(--color-gray-700);
    font-family: var(--font-family-mono);
}

kbd {
    border-radius: var(--border-radius);
    background-color: var(--color-gray-200);
    color: var(--color-gray-800);
    font-family: var(--font-family-mono);
}

code,
kbd {
    padding: 0.125rem 0.25rem;
    font-size: 0.875em;
}

code {
    color: var(--color-blue-400);
}

pre {
    padding: 1rem;
    font-size: 0.875rem;
    overflow-x: auto;
}

pre > code {
    padding: 0;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
}

table {
    width: 100%;
    margin-bottom: 1.5rem;
    border-collapse: collapse;
    overflow-x: auto;
    table-layout: auto;
}

thead {
    border-bottom: 2px solid var(--color-gray-600);
}

td,
th {
    padding: 0.5rem;
    text-align: left;
    vertical-align: top;
}

tr {
    border-bottom: 1px solid #e4e4e4;
}

.small {
    font-size: 0.875rem;
}

.button {
    display: inline-block;
    min-width: 2rem;
    padding: 0.375rem 0.5rem;
    border: 1px solid var(--color-gray-600);
    border-radius: var(--border-radius);
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    background-color: var(--color-gray-600);
    color: var(--color-gray-100);
    cursor: default;
    font-family: var(--font-family-sans);
    font-size: 0.875rem;
    line-height: 1.15;
    outline: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button:hover {
    border-color: var(--color-gray-500);
    background-color: var(--color-gray-500);
    color: var(--color-gray-100);
}

.disabled,
.disabled:hover,
.disabled:focus {
    color: var(--color-gray-400);
    cursor: default;
}

.container {
    max-width: 1200px;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
}

.header {
    margin-bottom: 2rem;
}

.footer {
    padding: 2rem 0;
    margin-top: 2rem;
    background-color: var(--color-gray-800);
}

.menu {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 2px solid var(--color-gray-600);
}

.menu-list {
    gap: 1rem;
}

.menu .button {
    padding: 0.375rem 0.5rem;
    margin: 0;
}

.menu-list a {
    color: inherit;
}

.menu-list a:hover {
    text-decoration: none;
}

.menu-item {
    position: relative;
    display: block;
    padding: 0.5rem;
    border-radius: var(--border-radius);
    font-size: 1rem;
}

.menu-header {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-left: -1rem;
    color: inherit;
    font-size: 1.25rem;
    font-weight: 800;
}

.menu-header:hover {
    text-decoration: none;
}

.menu-item:hover {
    color: var(--color-blue-300);
}

.menu-item.active::after {
    position: absolute;
    bottom: 0;
    left: 20%;
    display: none;
    width: 60%;
    height: 3px;
    border-radius: var(--border-radius);
    background: var(--color-blue-500);
    content: " ";
}

.menu-toggle {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-color: transparent;
    margin-left: auto;
    background-color: transparent;
}

.menu-collapse {
    display: none;
}

.menu-expanded {
    display: block;
    flex: 1 0 100%;
    margin-bottom: 1rem;
}

@media (width >= 568px) {
    .menu-toggle {
        display: none;
    }

    .menu-collapse {
        display: flex;
        margin-bottom: 0;
    }

    .menu-expanded {
        flex: auto;
    }

    .menu-item.active::after {
        display: block;
    }
}

.article {
    margin-top: 3rem;
}

.article-cover-image {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
    aspect-ratio: 3;
    object-fit: cover;
}

.cover-image {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    aspect-ratio: 3;
    object-fit: cover;
}

.article-title {
    margin-top: 0.25rem;
}

.article-title a {
    color: inherit;
}

.article-time {
    color: var(--color-gray-400);
    font-size: 0.875rem;
}

.read-more {
    font-size: 0.875rem;
}

.pagination {
    overflow: auto;
    max-width: 20rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.pagination-previous {
    float: left;
}

.pagination-next {
    float: right;
}

.tags {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.75rem;
}

.tag {
    padding: 0.25rem 0.375rem;
    border-radius: 3px;
    background-color: var(--color-gray-600);
}

.tag:hover {
    background-color: var(--color-blue-600);
    color: var(--color-gray-900);
    text-decoration: none;
}
