title: Site

layout:
    type: sections
    sections:
        info:
            label: '{{site.info}}'
            collapsible: true
            fields: [title, description]

        pages:
            label: '{{site.pages}}'
            collapsible: true
            fields: [defaultTemplate, taxonomies]

        languages:
            collapsible: true
            label: '{{panel.site.languages}}'
            fields: [languages.available, languages.httpPreferred]

        maintenance:
            label: '{{site.maintenance}}'
            collapsible: true
            fields: [maintenance.enabled, maintenance.page]

        statistics:
            label: '{{site.statistics}}'
            collapsible: true
            fields: [statistics.enabled, statistics.trackLocalhost, statistics.visitsDelay]

        advanced:
            label: '{{site.advanced}}'
            collapsible: true
            collapsed: true
            fields: [metadata, routeAliases]

fields:
    title:
        type: text
        label: '{{site.info.title}}'
        class: form-input-large
        required: true

    description:
        type: textarea
        label: '{{site.info.description}}'

    defaultTemplate:
        type: template
        label: '{{site.pages.defaultTemplate}}'

    taxonomies:
        type: tags
        label: '{{site.pages.taxonomies}}'
        placeholder: '{{site.pages.taxonomies.noTaxonomies}}'
        description: '{{site.pages.taxonomies.description}}'

    languages.available:
        type: tags
        label: '{{panel.site.languages.availableLanguages}}'
        icon: translate
        placeholder: '{{panel.site.languages.availableLanguages.noLanguages}}'
        pattern: '[a-z]{2,3}'
        translate: [label, placeholder]
        options@: languages.names

    languages.httpPreferred:
        type: togglegroup
        label: '{{panel.site.languages.preferredLanguage}}'
        options:
            1: '{{panel.site.languages.preferredLanguage.enabled}}'
            0: '{{panel.site.languages.preferredLanguage.disabled}}'

    maintenance.enabled:
        type: togglegroup
        label: '{{site.maintenance.enabled}}'
        options:
            1: '{{site.maintenance.enabled.enabled}}'
            0: '{{site.maintenance.enabled.disabled}}'

    maintenance.page:
        type: page
        label: '{{site.maintenance.page}}'
        default: null
        collection@: site.pages

    statistics.enabled:
        type: togglegroup
        label: '{{site.statistics.enabled}}'
        options:
            1: '{{site.statistics.enabled.enabled}}'
            0: '{{site.statistics.enabled.disabled}}'

    statistics.trackLocalhost:
        type: togglegroup
        label: '{{site.statistics.trackLocalhost}}'
        options:
            1: '{{site.statistics.trackLocalhost.enabled}}'
            0: '{{site.statistics.trackLocalhost.disabled}}'

    statistics.visitsDelay:
        type: duration
        label: '{{site.statistics.visitsDelay}}'
        description: '{{site.statistics.visitsDelay.description}}'
        min: 0
        intervals: [minutes, seconds]
        translate: [label, description]

    metadata:
        type: array
        label: '{{site.advanced.metadata}}'
        associative: true
        placeholderKey: '{{site.advanced.metadata.name}}'
        placeholderValue: '{{site.advanced.metadata.content}}'
        description: '{{site.advanced.metadata.description}}'

    routeAliases:
        type: array
        label: '{{site.advanced.aliases}}'
        associative: true
        placeholderKey: '{{site.advanced.aliases.alias}}'
        placeholderValue: '{{site.advanced.aliases.route}}'
        description: '{{site.advanced.aliases.description}}'
